.footer-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 30px;
}
.footer-rights-style {
  font-size: 12px;
  letter-spacing: 1.2px;
}
.footer-style p span {
  font-family: "Roboto Mono", monospace;
}
.footer-style a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: black;
}
.footer-style h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: lighter;
}
@media (max-width: 500px) {
  .footer-rights-style {
    text-align: center;
  }
}
